tap "homebrew/cask-fonts"

brew "mas"
brew "groovy"
brew "imagemagick"
brew "mongosh"
brew "php"
brew "poppler"
brew "resvg"
brew "ffmpegthumbnailer"
brew "fastfetch"

cask "claude"
cask "codex"
cask "gcloud-cli"
cask "ghostty"
cask "font-cascadia-code-nf"
cask "karabiner-elements"
cask "orbstack"
cask "raycast"
cask "telegram-desktop"
cask "zed"
