[user]
	name = Cesar Moreno
	email = cesar200526@gmail.com
[core]
	editor = zed --wait
	excludesfile = /Users/cmoreno/.gitignore
	autocrlf = input
[merge]
	tool = vimdiff
	ff = false
[pull]
	ff = only
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[diff]
	colorMoved = default
[fetch]
	prune = true
