[user]
	name = Cesar Moreno
	email = cesar200526@gmail.com
[core]
	editor = zed --wait
	excludesfile = ~/.gitignore
	autocrlf = input
	pager = delta
[merge]
	tool = vimdiff
	ff = false
	conflictstyle = zdiff3
[pull]
	rebase = false
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[diff]
	colorMoved = default
[fetch]
	prune = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	features = colibri
